<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dinas Lingkungan Hidup Kabupaten Jepara">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title>Portal Perizinan Dan Pengaduan Dinas Lingkungan Hidup Kabupaten Jepara</title>

    <link href="/stylesheets/template/css/theme.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page --> 
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css"> 
    
    </style>
</head>

<body>
    <% include ../template/header.ejs %>


    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12 p-l-0 p-r-0">
                    <img src="https://via.placeholder.com/1366x555" style="width: 100%;">
                </div>
            </div>
        </div>
    </section>


    <section style="margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <a href="/perizinan/jenis" style="text-decoration: none;">
                            <div style="width: 100%;display:table;box-shadow:4px 4px 20px rgba(0, 0, 0, 0.1);border-radius: 8px;">
                                <div style="display: table-row;">
                                    <div style="display: table-cell;vertical-align: middle;height: 100px;background-color: #fff;border-radius: 8px;padding: 15px;width: 65%;">
                                        <h4 class="m-t-0 m-b-0">PENGAJUAN</h4>
                                        <h4 class="m-t-0 m-b-0">IZIN LINGKUNGAN</h4>
                                    </div>

                                    <div style="display: table-cell;vertical-align: middle;height: 100px;background-color: ;padding: 15px;width: 35%;">
                                        <center><img src="/images/template/izin.png" style="width: 65px;"></center>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <a href="/pengaduan" style="text-decoration: none;">
                            <div style="width: 100%;display:table;box-shadow:4px 4px 20px rgba(0, 0, 0, 0.1);border-radius: 8px;">
                                <div style="display: table-row;">
                                    <div style="display: table-cell;vertical-align: middle;height: 100px;background-color: #fff;border-radius: 8px;padding: 15px;width: 65%;">
                                        <h4 class="m-t-0 m-b-0">PENGADUAN </h4>
                                        <h4 class="m-t-0 m-b-0">PERMASALAHAN </h4>
                                        <h4 class="m-t-0 m-b-0">LINGKUNGAN </h4>
                                    </div>
                                    <div style="display: table-cell;vertical-align: middle;height: 100px;background-color: ;padding: 15px;width: 35%;">
                                        <center><img src="/images/template/lapor.png" style="width: 65px;"></center>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div style="width: 100%;display:table;box-shadow:4px 4px 20px rgba(0, 0, 0, 0.1);border-radius: 8px;">
                                <div style="display: table-row;">
                                    <div style="display: table-cell;vertical-align: middle;height: 100px;background-color: #fff;border-radius: 8px;padding: 15px;width: 65%;">
                                        <h4 class="m-t-0 m-b-0">CEK PENGAJUAN</h4>
                                        <h4 class="m-t-0 m-b-0">IZIN LINGKUNGAN</h4>
                                    </div>
                                    <div style="display: table-cell;vertical-align: middle;height: 100px;background-color: ;padding: 15px;width: 35%;">
                                        <center><img src="/images/template/cari.png" style="width: 65px;"></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section style="margin-top: 60px;margin-bottom: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <div style="width: 100%;border-radius: 8px;box-shadow:4px 4px 20px rgba(0, 0, 0, 0.1);background-color: #fff;padding: 15px;">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <h3 class="m-t-0 m-b-0"><strong>BERITA</strong></h3>
                                <hr class="m-b-0">
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-4 col-lg-4">
                                <img src="https://via.placeholder.com/200" style="border-radius:8px;">
                            </div>
                            <div class="col-md-8 col-lg-8 p-l-0">
                                <h4 class="m-t-0 m-b-0"><strong>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h4>
                                <h4 class="m-t-15 m-b-0" style="font-size: 16px;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h4>
                            </div>
                        </div>
                        

                        <div class="row m-t-30">
                            <div class="col-md-4 col-lg-4">
                                <img src="https://via.placeholder.com/200" style="border-radius:8px;">
                            </div>
                            <div class="col-md-8 col-lg-8 p-l-0">
                                <h4 class="m-t-0 m-b-0"><strong>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h4>
                                <h4 class="m-t-15 m-b-0" style="font-size: 16px;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h4>
                            </div>
                        </div>

                        <div class="row m-t-30">
                            <div class="col-md-4 col-lg-4">
                                <img src="https://via.placeholder.com/200" style="border-radius:8px;">
                            </div>
                            <div class="col-md-8 col-lg-8 p-l-0">
                                <h4 class="m-t-0 m-b-0"><strong>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h4>
                                <h4 class="m-t-15 m-b-0" style="font-size: 16px;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h4>
                            </div>
                        </div>

                        <div class="row m-t-30">
                            <div class="col-md-4 col-lg-4">
                                <img src="https://via.placeholder.com/200" style="border-radius:8px;">
                            </div>
                            <div class="col-md-8 col-lg-8 p-l-0">
                                <h4 class="m-t-0 m-b-0"><strong>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></h4>
                                <h4 class="m-t-15 m-b-0" style="font-size: 16px;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h4>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div style="width: 100%;border-radius: 8px;box-shadow:4px 4px 20px rgba(0, 0, 0, 0.1);background-color: #fff;padding: 15px;">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <h3 class="m-t-0 m-b-0"><strong>PENGUMUMAN</strong></h3>
                                        <hr class="m-b-0">
                                    </div>
                                </div>

                                <div class="row m-t-30">
                                    <div class="col-md-12 col-lg-12">
                                        <table class="table table-bordered m-b-0 table-striped">
                                            <tbody>
                                                <tr>
                                                    <td><h4 class="m-t-0 m-b-0" style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</h4></td>
                                                </tr>
                                                <tr>
                                                    <td><h4 class="m-t-0 m-b-0" style="font-size: 16px;">Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip </h4></td>
                                                </tr>
                                                <tr>
                                                    <td><h4 class="m-t-0 m-b-0" style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</h4></td>
                                                </tr>
                                                <tr>
                                                    <td><h4 class="m-t-0 m-b-0" style="font-size: 16px;">Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip</h4></td>
                                                </tr>
                                                <tr>
                                                    <td><h4 class="m-t-0 m-b-0" style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</h4></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-t-30">
                        <div class="col-md-12 col-lg-12">
                            <div style="width: 100%;border-radius: 8px;box-shadow:4px 4px 20px rgba(0, 0, 0, 0.1);background-color: #fff;padding: 15px;">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <h3 class="m-t-0 m-b-0"><strong>PENGADUAN</strong></h3>
                                        <hr class="m-b-0">
                                    </div>
                                </div>

                                <div class="row m-t-30">
                                    <div class="col-md-12 col-lg-12">
                                        <div style="width: 100%;position: relative;">
                                            <img src="https://via.placeholder.com/300" style="width: 100%;">

                                            <div style="width: 100%;padding:15px;position: absolute;left: 0;right: 0;bottom: 0;">
                                                <h4 class="m-t-0 m-b-0"><strong>Jenis Pengaduan SPPL | UKL UPL | DLHP</strong></h4>
                                                <h4 class="m-t-5 m-b-0" style="font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../template/footer.ejs %>
    <script src="/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/template/bootstrap.min.js"></script>
    <!-- Plugins This Page -->
    <!-- End Plugins This Page -->
    <script type="text/javascript">
      
    </script>
</body>
</html>