<% include ../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Dashboard</strong></h2>
    <!-- <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li class="active">Dashboard</li>
      </ol>
    </div> -->
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="#" method="POST">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Bidang</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select class="form-control" name="bidang" id="bidang" data-search="true">
                      <option>-- Pilih --</option>
                        <option>BIDANG MULTISEKTOR</option>
                        <option>BIDANG SUMBER DAYA ENERGI DAN MINERAL (ESDM)</option>
                        <option>BIDANG PEKERJAAN UMUM</option>
                        <option>BIDANG CIPTA KARYA</option>
                        <option>BIDANG KEBERSIHAN</option>
                        <option>BIDANG PERDAGANGAN</option>
                        <option>BIDANG PERINDUSTRIAN</option>
                        <option>BIDANG PERTANIAN</option>
                        <option>BIDANG PETERNAKAN</option>
                        <option>BIDANG PERKEBUNAN</option>
                        <option>BIDANG KEHUTANAN</option>
                        <option>BIDANG PERIKANAN</option>
                        <option>BIDANG PARIWISATA</option>
                        <option>BIDANG KESEHATAN</option>
                        <option>BIDANG PERHUBUNGAN</option>
                        <option>BIDANG KOMUNIKASI DAN INFORMATIKA</option>
                        <option>BIDANG PERTAHANAN</option>
                        <option>BIDANG PENGEMBANGAN NUKLIR</option>
                        <option>BIDANG PENGOLAHAN LIMBAH B-3</option>
                      </select>

                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Jenis Usaha/Kegiatan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      
                      <select class="form-control" name="jenis" id="jenis" data-search="true">
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <hr/>
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <table class="table table-bordered m-b-0">
                        <thead>
                          <tr>
                            <th style="text-align: center;">Satuan</th>
                            <th style="text-align: center;">Batas Minimal</th>
                            <th style="text-align: center;">&#8804;</th>
                            <th style="text-align: center;width: 100px;">Ukuran</th>
                            <th style="text-align: center;">&#8805;</th>
                            <th style="text-align: center;">Batas Maximal</th>
                            <th style="text-align: center;">HASIL</th>
                          </tr>
                        </thead>
                        <tbody id="tabele">
                        </tbody>
                      </table>
                    </div>
                  </div>
                  

                </div>
                <button class="btn btn-primary btn-embossed" onclick="proses()">Proses</button>
                <br/>
                <h3 id="hasil"></h3>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2020 </span>
        <span></span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../template-backoffice/footer.ejs %>
<script type="text/javascript">
var tampung_id=[];

$('#bidang').change(function(){
  tampung_id=[];
  $("#jenis").empty();
  $("#tabele").empty();
        $('#jenis').select2('val', null);

                     $.ajax({
                              type : "GET",
                              async : false,
                              global : false,
                              url : "/get_jenis/"+$('#bidang').val(),
                              dataType : 'json',
                              success: function (data) {
                                console.log(data)
                               $.each(data, function(index, item){
                                  if(index==0){
                                    $('#jenis').append('<option value="'+item.id+'" selected>'+item.jenis+'</option>');
                                    $('#jenis').select2('val', item.id);
                                        $.ajax({
                                                 type : "GET",
                                                 async : false,
                                                 global : false,
                                                 url : "/get_rumus/"+item.id,
                                                 dataType : 'json',
                                                 success: function (dataa) {
                                                  $.each(dataa, function(indexx, itemm){
                                                    tampung_id.push(itemm.id); 
                                                  $("#tabele").append('<tr ><td style="text-align: center;">'+itemm.satuan+'</td><td style="text-align: center;">'+itemm.batas_min+'</td><td style="text-align: center;">'+itemm.simbolmin+'</td><td><input type="number" class="form-control" name="ukuran[]" id="ukuran" value="0"></td> <td style="text-align: center;">'+itemm.simbolmax+'</td><td style="text-align: center;">'+itemm.batas_max+'</td><td id="output_row[]"></td></tr>');
                                                  })
                                                 }
                                               })
                                  }else{
                                    $('#jenis').append('<option value="'+item.id+'">'+item.jenis+'</option>');
                                  }
                                  
                              })
                             
                              }
                            });   
                    
                    
                })
    
    $('#jenis').change(function(){
      tampung_id=[];
      $("#tabele").empty();
      $.ajax({
                              type : "GET",
                              async : false,
                              global : false,
                              url : "/get_rumus/"+$('#jenis').val(),
                              dataType : 'json',
                              success: function (data) {
                                
                                console.log(data)
                               $.each(data, function(indexx, itemm){
                                tampung_id.push(itemm.id);
                                  $("#tabele").append('<tr ><td style="text-align: center;">'+itemm.satuan+'</td><td style="text-align: center;">'+itemm.batas_min+'</td><td style="text-align: center;">'+itemm.simbolmin+'</td><td><input type="number" class="form-control" name="ukuran[]" id="ukuran" value="0"></td> <td style="text-align: center;">'+itemm.simbolmax+'</td><td style="text-align: center;">'+itemm.batas_max+'</td> <td id="output_row[]"></td></tr>');
                                  
                              })
                             
                              }
                            });
    })

function proses(){
  var output="";
  var tampung_ukuran=[];
  // var tampung_ukuran = $("input[name='ukuran[]']").map(function(){return $(this).val();}).get();

              if(tampung_id.length>0){
                output="sppl";
                $.each(tampung_id, function(index, item){
                    $.ajax({
                              type : "GET",
                              async : false,
                              global : false,
                              url : "/get_hasil/"+tampung_id[index]+"/"+tampung_ukuran[index],
                              dataType : 'json',
                              success: function (data) {
                                $.each(data, function(indexx, itemm){
                                  $("#output_row["+indexx+"]".html(itemm))
                                })
                                console.log(data);
                                if(data=="AMDAL"){
                                  output=data;
                                }else{
                                  if(data=="ukl upl"){
                                    output=data;
                                  }
                                }
                                
                              }
                            // event.preventDefault();
                            })
                })
              }else{
                output="ukl upl"
              }
              $("#hasil").html(output);
}
</script>