<footer style="background-color: #e0e0e0;padding-top: 60px;padding-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <center>
                    <img src="https://via.placeholder.com/65">

                    <h4 class="m-t-15 m-b-0"><strong>DINAS LINGKUNGAN HIDUP</strong></h4>
                    <h4 class="m-t-0 m-b-0"><strong>KABUPATEN JEPARA</strong></h4>

                    <h5 class="m-b-0">Jl. Sidik Harun, Ujungbatu II, Ujungbatu, Kec. Jepara,</h5>
                    <h5 class="m-t-0 m-b-0">Kabupaten Jepara, Jawa Tengah 59416</h5>
                    <h5 class="m-t-0 m-b-0">Telp. (0291) 593982, Email : dlh@jepara.go.id</h5>

                    <h5 class="m-b-0"><strong>Follow Akun Sosial Media Kami</strong></h5>
                    <ul class="list-inline m-t-15 m-b-0">
                        <li><img src="/images/template/fb.png" style="width: 40px;"></li>
                        <li><img src="/images/template/ig.png" style="width: 40px;"></li>
                        <li><img src="/images/template/youtube.png" style="width: 40px;"></li>
                    </ul>
                </center>
                
            </div>
        </div>
    </div>
</footer>