<header style="box-shadow:4px 4px 20px rgba(0, 0, 0, 0.1)">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div style="width: 100%;display:table;">
                    <div style="display: table-row;">
                        <div style="display: table-cell;vertical-align: middle;height: 80px;width: 80px;">
                            <img src="https://via.placeholder.com/65">
                        </div>

                        <div style="display: table-cell;vertical-align: middle;height: 80px;">
                            <h4 class="m-t-0 m-b-0"><strong>PORTAL INFORMASI</strong></h4>
                            <h4 class="m-t-5 m-b-0" style="font-size: 16px;">DINAS LINGKUNGAN HIDUP</h4>
                            <h4 class="m-t-0 m-b-0" style="font-size: 16px;">KABUPATEN JEPARA</h4>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-7 col-lg-7 menu">
                <div style="width: 100%;display:table;">
                    <div style="display: table-row;">
                        <div style="display: table-cell;vertical-align: middle;height: 80px;">
                            <ul class="list-inline m-b-0">
                                <li><a href="/">BERANDA</a></li>
                                <li><a href="/perizinan/formulir_perizinan">PERIZINAN</a></li>
                                <li><a href="/pengaduan">PENGADUAN</a></li>
                                <li><a href="">KONTAK KAMI</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>